$text-color: #332500;
$light-black: #999999;
$color-primary: #FCA800;
$color-title: #332500;
$color-subTitle: #999999;
$color-border: #e6e6e6;
$color-white: #ffffff;
$color-emp: #ff5344;
$color-background: #f1f1f1;
$color-newbg: #F2F1ED;
$color-sort: #5C5133;
// 字体的放下面
$font-name: PingFangSC-Regular, "Helvetica Neue", sans-serif; // 常规

// $font-regular: PingFangSC-Regular,FZLTXIHJW--GB1-0, "Helvetica Neue", sans-serif; // 常规
// $font-medium: PingFangSC-Medium,FZLTZHUNHJW--GB1-0,  "Helvetica Neue", sans-serif; // 中粗
// $font-semibold: PingFangSC-Semibold,FZLTTHJW--GB1-0,  "Helvetica Neue", sans-serif; // 特粗

$font-regular: 400; // 常规
$font-medium: bold; // 中粗
$font-medium-ios: 600; // 中粗
$font-semibold: 900; // 特粗